@use 'tokens' as *;

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: $font-main;
  font-size: $font-size-md;
  line-height: 1.6;
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  transition: background-color $transition-med, color $transition-med;
  min-height: 100vh;
}

a {
  color: var(--color-accent);
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
}

img, svg {
  display: block;
  max-width: 100%;
}